/* body {
  background: url(/Pictures/Table_plan_ready.jpg);
  background-size: cover;
} */


body {
  background: url(/Pictures/Tables_plan_ready.jpg);
  background-color: lightblue;
}





/* p {
  color: #61dafb;
} */

/* #root {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  margin: 40px;
  padding: 20px;

} */
